/*navbar styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    transform-origin: top left;
    transition: transform 0.3s ease-out;
}

#particles-js {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ebe9e9;
    z-index: -1; /*dont want it to be interactable*/
}

.navbar {
    background-color: #2294e7;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: linear-gradient(to right, #fcfcfc -25%, #00bfff 70%, #2294e7 95%);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo {
    background-color: #9fcef1;
    background-image: linear-gradient(to top, #2f3844 0%, #5ebfc3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__logo-image {
    height: 75px;
    width: auto; 
    padding: 1px;
    transition: all 0.2s ease;
}

.navbar__logo-image:hover {
    filter: drop-shadow(0 0 1px rgba(1, 70, 113, 0.8))
            drop-shadow(0 0 5px rgba(0, 255, 255, 0.8)); 
}

/*this is if i need logo picture next to sig prob wont use tho*/
/*.fa-gem {
    margin-right: 0.5rem;

}*/

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 50px;
    padding: 0 1rem;
    height: 100%;
    transition: color 0.3s ease-out; 
}

/*fixed*/
.navbar__links:hover {
    color: white;
}

/*works now*/
.navbar__links:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20;
    width: var(--underline-width, 0);
    height: 5px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar__links:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*trying to make it have a mobile/small window tab options. will implement once i figure dis out

@media screen and (max-width: 1440px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5 ease;
        height: 50vh;
        z-index: -1;
        background: #a8c9f0;
    }

    .navbar__menu.active {
        background: #1f3044;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar__item {
        width: 100%;

    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
        z-index: 1000;
    }

}   */
/*homepage css styles*/

/*THIS whole part needs debugging--> fixed scalimng issues*/

.me {
    text-align: center;
    flex-direction: row;
}

.begin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;  
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}


.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    margin-top: 3em;
}

.greet {
    position: relative;
    font-size: 3.3vw;
    text-align: right;
}

.name {
    bottom: 0;
    left: 0;
    position: relative; 
    background: linear-gradient(to right, #fcfcfc -75%, #00bfff 70%, #2294e7 95%); 
    -webkit-background-clip: text; 
    color: transparent;
    font-size: 9vw; 
    margin-left: 18.5vw;

}

.name-filler {
    visibility: hidden;
}


.me-image {
    width: 40%;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;
    max-width: 800px;
    width: 90%;
    margin-top: 3em;
}

.desc {
    position: relative;
    background: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%); 
    -webkit-background-clip: text; 
    color: transparent;
    font-size: 3.3vw;
    text-align: right;
}

.aboutme {
    position: relative;
    font-size: 60px;
    background: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);  
    -webkit-background-clip: text; 
    color: transparent;
    display: inline-block;
    margin-top: 3em;
}

.aboutme::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.aboutme:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.about-me-image img{
    position: relative;
    width: 80%;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px; 
    display: block;
    margin-left: 2em;
}

.aboutmeblurb {
    font-size: 30px;
    color: black;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;  
    padding: 10px;    
    margin-right: 1em;
}

.about-me-container {
    margin-bottom: 3em;
}


.blurb-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    padding: 20px;
    margin-bottom: 5em;
}

.no-break {
    white-space: nowrap;
    color: #2294e7;
    text-decoration: none;
    text-shadow: 0 0 10px #5ebfc3;
}

/*portfolio page styles*/

.Projects {
    font-size: 60px;
    background: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);  
    -webkit-background-clip: text; 
    color: transparent;
    position: relative;
    margin-left: 0.5em;
    display: inline-block;
}

.Projects::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%; 
    height: 4px;
    background-image: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.Projects:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.Publications_Papers {
    font-size: 60px;
    background: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);  
    -webkit-background-clip: text; 
    color: transparent;
    position: relative;
    margin-left: 0.5em;
    display: inline-block;
}
.Publications_Papers::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%; 
    height: 4px;
    background-image: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.Publications_Papers:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.nonstem {
    font-size: 60px;
    background: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);  
    -webkit-background-clip: text; 
    color: transparent;
    position: relative;
    margin-left: 0.5em;
    display: inline-block;
}

.nonstem::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%; 
    height: 4px;
    background-image: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nonstem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    margin-top: 2.5%; 
    margin-bottom: 5%;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 1200px) {
    .projects-container {
        grid-template-columns: 1fr; 
    }
}
.projt {
    font-size: large;
    margin-left: 40px;
    margin-right: 40px;
    transform: scale(1);
    transform-origin: top left;
}


.project-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.desc-proj-mag{
    height: auto; 
    
}

.skills-used {
    font-size: 15px;
    color:rgb(101, 101, 8);
    font-style: bold;
}

.slider-website {
    width: 570px;
    height: 400px;
    overflow: hidden;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;
}
.slider-website video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/*slideshow styes*/
.slider {
    width: 570px;
    height: 400px;
    overflow: hidden;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;
}

.slides {
    width: 500%;   
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s; 
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*manual 4 llp*/

.manual {
    position: absolute;
    width: 600px;
    margin-top:-140px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover{
    background: black;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*auto 4 llp*/

.auto {
    position: absolute;
    display: flex;
    width: 600px;
    justify-content: center;
    margin-top: 360px;
}

.auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}

.auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .auto .auto-btn1 {
    background: black;
}

#radio2:checked ~ .auto .auto-btn2 {
    background: black;
}

#radio3:checked ~ .auto .auto-btn3 {
    background: black;
}

#radio4:checked ~ .auto .auto-btn4 {
    background: black;
}


/*mag*/
.slider-mag {
    width: 570px;
    height: 400px;
    overflow: hidden;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;
    
}

.slides-mag {
    width: 500%;   
    height: 500px;
    display: flex;
}

.slides-mag input{
    display: none;
}

.slide-mag {
    width: 20%;
    transition: 2s; 
}

.slide-mag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*manual-mag 4 llp*/
.manual-mag {
    position: absolute;
    width: 600px;
    margin-top: -140px;
    display: flex;
    justify-content: center;
}

.manual-btn-mag {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn-mag:not(:last-child) {
    margin-right: 30px;
}

.manual-btn-mag:hover {
    background: black;
}

#radio1-mag:checked ~ .first {
    margin-left: 0;
}

#radio2-mag:checked ~ .first {
    margin-left: -20%;
}

#radio3-mag:checked ~ .first {
    margin-left: -40%;
}

#radio4-mag:checked ~ .first {
    margin-left: -60%;
}

/*auto-mag 4 llp*/
.auto-mag {
    position: absolute;
    display: flex;
    width: 600px;
    justify-content: center;
    margin-top: 360px;
}

.auto-mag div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.auto-mag div:not(:last-child) {
    margin-right: 30px;
}

#radio1-mag:checked ~ .auto-mag .auto-btn1-mag {
    background: black;
}

#radio2-mag:checked ~ .auto-mag .auto-btn2-mag {
    background: black;
}

#radio3-mag:checked ~ .auto-mag .auto-btn3-mag {
    background: black;
}

#radio4-mag:checked ~ .auto-mag .auto-btn4-mag {
    background: black;
}

/*worm*/

.slider-worm {
    width: 570px;
    height: 400px;
    overflow: hidden;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;
    margin-right: -100px;
}

.slides-worm {
    width: 500%;   
    height: 500px;
    display: flex;
}

.slides-worm input{
    display: none;
}

.slide-worm {
    width: 20%;
    transition: 2s; 
}

.slide-worm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*manual-worm 4 llp*/
.manual-worm {
    position: absolute;
    width: 600px;
    margin-top: -140px;
    display: flex;
    justify-content: center;
}

.manual-btn-worm {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn-worm:not(:last-child) {
    margin-right: 30px;
}

.manual-btn-worm:hover {
    background: black;
}

#radio1-worm:checked ~ .first {
    margin-left: 0;
}

#radio2-worm:checked ~ .first {
    margin-left: -20%;
}

/*auto-worm 4 llp*/
.auto-worm {
    position: absolute;
    display: flex;
    width: 600px;
    justify-content: center;
    margin-top: 360px;
}

.auto-worm div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.auto-worm div:not(:last-child) {
    margin-right: 30px;
}

#radio1-worm:checked ~ .auto-worm .auto-btn1-worm {
    background: black;
}

#radio2-worm:checked ~ .auto-worm .auto-btn2-worm {
    background: black;
}


/*beyond stem*/

.ravel {
    text-decoration: none;
    color: black;
    transition: color 0.25s ease-out;
}
.ravel:hover {
    color: #2294e7;
    
}

/*CONTACT PAGE STYLES*/

#contact-me {

    text-align: center;
    padding: 50px 20px;
  }
  
#contact-me h2 {
    font-size: 5rem;
    margin-bottom: 20px;
    background: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);  
    -webkit-background-clip: text; 
    color: transparent;
  }
  
#contact-me p {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
.contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 2em;
  }
  
.contact-link {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #2294e7;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
.contact-link:hover {
    background-color: #2294e7;
    color: white;
  }

.contact-image {
    width: 50px;   
    height: auto;  
    margin-left: -10px
}

.contact-image-email {
    width: 35px;
    height: auto;
    margin-right: 10px;

}

.contact-image-resume {
    width: 40px;
    height: auto;
    margin-right: 5px;
    margin-left: -5px;

}

.phone {
    font-size: 2rem;
    margin-top: 30px;
}
  
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1;
    color: #555;
    position: relative;
  }


/*experience tab styles*/

.education  {
    font-size: 60px;
    background: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);  
    -webkit-background-clip: text; 
    color: transparent;
    position: relative;
    margin-left: 0.5em;
    display: inline-block;
}

.education:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%; 
    height: 4px;
    background-image: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.education:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.school-container {
    display: flex;
    align-items: flex-start; 
    gap: 40px; 
}

.school-logo {
    margin-left:40px;
    width: 80px; 
    height: auto; 
}

.school-text {
    display: flex;
}

.year_major {
    font-size: 15px;
    color:rgb(101, 101, 8);
}

.coursework {
    text-align: center; 
    font-size: 40px;
}

.work_experience {
    font-size: 60px;
    background: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);  
    -webkit-background-clip: text; 
    color: transparent;
    position: relative;
    margin-left: 0.5em;
    display: inline-block;
}

.work_experience:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%; 
    height: 4px;
    background-image: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.work_experience:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.work-container {
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;
    padding: 30px;
    margin-left: 100px;
    margin-right:100px;
    background-color: #f2f2f2;

}

.timeframe {
    font-size: 20px;
    color:rgb(101, 101, 8);
}

.job {
    font-size: 40px;       
}


.skills-header {
    font-size: 60px;
    background: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);  
    -webkit-background-clip: text; 
    color: transparent;
    position: relative;
    margin-left: 0.5em;
    display: inline-block;
}

.skills-header:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%; 
    height: 4px;
    background-image: linear-gradient(to right, black -25%, #00bfff 70%, #2294e7 95%);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.skills-header:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*experience-tabbed interface stuff-edu*/

.class-container {
    display: flex;
    justify-content: center;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    font-size: 25px;
    background-color: #f2f2f2;

}

.tab.active {
    background-color: #2294e7;
    color: white;
    font-weight: bold;
}

.pee-tab, .csds-tab {
    display: none;
    padding: 20px;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;
    margin-top: 10px;
    border-radius: 5px;
    justify-content: center;
    margin-left: 100px;
    margin-right:100px;
    font-size: 30px;
    padding-left: 40px;
    background-color:#f2f2f2 ;
}

.pee-tab.active, .csds-tab.active {
    display: block;
}


/*experience-tabbed interface-skills*/
.tab1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    font-size: 30px;
    background-color: #f2f2f2;
}

.tab1.active {
    background-color: #2294e7;
    font-weight: bold;
    color: white;
}

.skills {
    display: none;
    padding: 30px 50px;
    margin-top: 10px;
    border: 3px solid #2294e7;
    box-shadow: 0 0 10px #5ebfc3;
    border-radius: 5px;
    margin-bottom: 2em;
    font-size: 30px;
}

.skills.active{
    display: block;
    background-color:#f2f2f2 ;
}

.secret-links {
    /*make this so its not obvious to click, but when hovering make it do something funny*/
    display: inline-block;
    text-decoration: none; 
    color: inherit; 
    transition: color 0.2s ease;
}

.secret-links:hover {
    color: #2294e7;

}
